{% import "_includes/forms" as forms %}

{% set ticketElement = craft.elements.getElementType('Events_TicketType') %}

<div class="create-tickets">
    <div class="create-tickets-row table-row">
        <div class="table-cell table-cell-md-5 fields-tickets-type-field">
            {{ forms.elementSelectField({
                id: 'ticketTypes',
                name: 'ticketTypes',
                elementType: ticketElement,
                selectionLabel: 'Select ticket type' | t,
                elements: ticketTypes,
                limit: 1,
            }) }}
        </div>

        <div class="table-cell table-cell-md-2 fields-tickets-price-field">
            {{ forms.textField({
                id: 'quantity',
                name: 'quantity',
                placeholder: 'eg. 100',
                value: ticketQuantity,
                class: 'ticket-quantity',
            }) }}
        </div>

        <div class="table-cell table-cell-md-3 fields-tickets-price-field">
            {{ forms.textField({
                id: 'price',
                name: 'price',
                value: (ticketPrice == '0' ? '0' | number : (ticketPrice ? ticketPrice | number ?: '')),
                placeholder: 'eg. 10.00',
                unit: craft.commerce.primaryPaymentCurrency.iso,
            }) }}
        </div>

        <div class="table-cell table-cell-md-2 thin action">
            <a class="settings icon" title="{{ 'Settings' | t }}" role="button"></a>
            <a class="delete icon button" title="{{ 'Delete' | t }}" role="button"></a>
        </div>
    </div>

    <div class="create-tickets-settings">
        {{ forms.dateTimeField({
            label: "Available From" | t,
            instructions: "Tickets will only be purchasable after this date." | t,
            id: 'availableFrom',
            name: 'availableFrom',
            value: ticketAvailableFrom,
        }) }}

        {{ forms.dateTimeField({
            label: "Available To" | t,
            instructions: "Tickets will not be purchasable after this date." | t,
            id: 'availableTo',
            name: 'availableTo',
            value: ticketAvailableTo,
        }) }}

        {% if ticketType is not null %}
            {% for tab in ticketType.asa('ticketFieldLayout').getFieldLayout().getTabs() %}
                {% include "_includes/fields" with {
                    fields: tab.getFields(),
                    element: ticket,
                } only %}
            {% endfor %}
        {% endif %}
    </div>
</div>