{% extends 'events/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set selectedTab = selectedTab ?? craft.app.request.getSegment(3) %}
{% set selectedTab = selectedTab ?: 'general' %}
{% set fullPageForm = true %}
{% set pageTabs = {
    general: { title: 'General Settings' | t('events'), url: url('events/settings') },
    tickets: { title: 'Tickets' | t('events'), url: url('events/settings/tickets') },
    checkin: { title: 'Check in' | t('events'), url: url('events/settings/checkin') },
    emails: { title: 'Emails' | t('events'), url: url('events/settings/emails') },
} %}
{% set pageTitle = pageTabs[selectedTab].title ?? pageTabs[selectedTab].heading ?? null %}
{% if not pageTitle %}{% exit 404 %}{% endif %}
{% set pageAction = 'events/settings/save-settings' %}
{% set pageUrl = selectedTab == 'general' ? 'events/settings' : 'events/settings/' ~ selectedTab %}

{% block settingsContent %}
    {% include 'events/settings/_panes/' ~ selectedTab ignore missing %}
{% endblock %}
