{% extends "events/_layouts" %}
{% hook 'events.prepCpTemplate' %}

{% set selectedSubnavItem = "events" %}
{% set docTitle = title ~' - ' ~ craft.events.getPluginName %}

{% set crumbs = [
	{ label: "Events" | t, url: url('events/index') },
	{ label: eventType.name | t, url: url('events/events/' ~ eventType.handle) },
] %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% block saveButton %}
	{% if not craft.events.isLicensed %}
		<div class="buttons">
			<input type="button" class="btn submit disabled" value="{{ 'Save' | t }}">
			<span class="license-error">{{ "Please enter your license key first" | t }}</span>
		</div>
	{% else %}
		<div class="btngroup">
			<input type="submit" class="btn submit" value="{{ 'Save' | t }}">
			<div class="btn submit menubtn"></div>
			<div class="menu">
				<ul>
					<li>
						<a class="formsubmit" data-redirect="{{ continueEditingUrl }}">
							{{ "Save and continue editing" | t }}
							{{ forms.optionShortcutLabel('S') }}
						</a>
					</li>
				</ul>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block main %}

    {% if craft.events.isLicensed %}
		<input type="hidden" name="action" value="events/events/save">
    {% endif %}
	<input type="hidden" name="redirect" value="events/events">
	<input type="hidden" name="typeId" value="{{ eventType.id }}">
	{% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ event.locale }}">{% endif %}
	{% if event.id %}<input type="hidden" name="eventId" value="{{ event.id }}">{% endif %}

	<div class="grid first" data-max-cols="3">
		<div class="item" data-position="left" data-colspan="2">
			{% set eventTabs = eventType.asa('eventFieldLayout').getFieldLayout().getTabs() %}

			<div id="fields" class="pane">
				{% set tabs = tabs | merge({
					eventTab: {
						label: 'Dates/Times' | t,
						url: '#eventTab'
					},
					ticketTab: {
						label: 'Tickets' | t,
						url: '#ticketTab'
					}
				}) %}

				{% include "_includes/tabs" %}

				{{ forms.textField({
					label: "Title" | t,
					locale: event.locale,
					id: 'title',
					name: 'title',
					value: event.title,
					placeholder: 'Enter title' | t,
					errors: event.getErrors('title'),
					first: true,
					autofocus: true,
					required: true,
					maxlength: 255
				}) }}

				<div>
					{% for tab in eventTabs %}

						<div id="tab{{ loop.index }}" {% if not loop.first %} class="hidden" {% endif %}>
							{% include "_includes/fields" with {
								fields: tab.getFields(),
								element: event,
							} only %}
						</div>
					{% endfor %}

					<div id="eventTab"{% if eventTabs | length > 0 %} class="hidden"{% endif %}>
						{{ forms.dateTimeField({
							label: "Start Date" | t,
							instructions: "The start date/time for your event." | t,
							id: 'startDate',
							name: 'startDate',
							value: event.getAttribute('startDate'),
							errors: event.getErrors('startDate'),
						}) }}

						{{ forms.dateTimeField({
							label: "End Date" | t,
							instructions: "The end date/time for your event." | t,
							id: 'endDate',
							name: 'endDate',
							value: event.getAttribute('endDate'),
							errors: event.getErrors('endDate'),
						}) }}

						{{ forms.lightswitchField({
							label: "All Day Event" | t,
							instructions: "Does this event run for the entire day?" | t,
							id: 'allDay',
							name: 'allDay',
							on: event.getAttribute('allDay'),
							errors: event.getErrors('allDay'),
						}) }}
					</div>

					<div id="ticketTab" class="hidden">
						{{ forms.textField({
							label: "Total Capacity" | t,
                            instructions: "Set a capacity limit for the event, regardless of ticket type." | t,
							id: 'capacity',
							name: 'capacity',
							value: event.getAttribute('capacity'),
							size: '6'
						}) }}

						<hr />

						<div id="ticketsTable" class="tickets-table data fullwidth collapsible">
							<div class="tickets-table-header table-row">
								<div class="table-cell table-cell-md-5">
									<span class="required">{{ "Ticket Type" | t }}</span>
								</div>

								<div class="table-cell table-cell-md-2">
									<span class="required">{{ "Quantity" | t }}</span>
								</div>

								<div class="table-cell table-cell-md-3">
									<span class="required">{{ "Price" | t }}</span>
								</div>

								<div class="table-cell table-cell-md-2 action">
									<span>{{ "Actions" | t }}</span>
								</div>
							</div>

							<div class="create-tickets-container">

								{% if tickets %}
									{% for ticket in tickets  %}
										{% set ticketTypes = ticket.getTicketTypes() %}
										{% set ticketQuantity = ticket.quantity %}
										{% set ticketPrice = ticket.getPrice() %}
										{% set ticketAvailableFrom = ticket.availableFrom %}
										{% set ticketAvailableTo = ticket.availableTo %}
										{% set ticketType = ticket.getTicketType() %}

										{% namespace 'tickets[' ~ ticket.id ~ ']' %}
											{% include 'events/_includes/ticketrow' %}
										{% endnamespace %}
									{% endfor %}
								{% else %}

									{% set ticketTypes = null %}
									{% set ticketQuantity = null %}
									{% set ticketPrice = null %}
									{% set ticketAvailableFrom = null %}
									{% set ticketAvailableTo = null %}
									{% set ticketType = null %}

									{% namespace 'tickets[new0]' %}
										{% include 'events/_includes/ticketrow' %}
									{% endnamespace %}
								{% endif %}
							</div>
						</div>

						<a class="btn add add-ticket icon dashed" tabindex="0">{{ 'Add ticket' | t }}</a>
					</div>
				</div>
			</div>
		</div>

		<div id="meta-pane" class="item" data-position="right">
			{% if showPreviewBtn %}
				{% include "_includes/previewbtns" %}
			{% endif %}

			{% if craft.isLocalized() %}
				<ul id="locales" class="pane">
					{% for localeId in localeIds %}
						{% set localeName = craft.i18n.getLocaleById(localeId).name %}
						<li{% if localeId == event.locale %} class="sel"{% endif %}>
							{% if localeId == event.locale %}
								{{ localeName }}
								{{ forms.lightswitch({
									name: 'localeEnabled',
									on: event.localeEnabled,
									small: true
								}) }}
							{% else %}
								{% set localeUrl = url('events/events/' ~ eventType.handle ~ '/' ~ craft.request.getSegment(4) ~ '/' ~ localeId) -%}

								<a href="{{ localeUrl }}">{{ localeName }}</a>
								<div class="status {{ localeId in enabledLocales ? 'enabled' : 'disabled' }}"></div>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% endif %}

			<div class="pane meta">
				{% set statusInput %}
					<div class="left">
						{{ forms.lightswitch({
							id: 'enabled',
							name: 'enabled',
							on: event.enabled,
							disabled: not craft.events.isLicensed
						}) }}
					</div>

					{% if event.id %}
						<div class="right">
							<input type="button" class="btn small formsubmit" value="{{ 'Delete' | t }}" data-action="events/events/deleteEvent" data-confirm="{{ 'Are you sure you want to delete this event?' | t }}" data-redirect="events/events">
						</div>
					{% endif %}
				{% endset %}

                {{ forms.textField({
                    label: "Slug" | t,
                    locale: event.locale,
                    id: 'slug',
                    name: 'slug',
                    value: event.slug,
                    placeholder: 'Enter slug' | t,
                    errors: event.getErrors('slug')|merge(event.getErrors('uri'))
                }) }}

                {{ forms.field({
                    id: 'enabled',
                    label: 'Enabled?' | t
                }, statusInput) }}
			</div>

			{% if event.id %}
				<div class="pane lightpane meta">
					<div class="data">
						<h5 class="heading">{{ "Date Created" | t }}</h5>
						<div class="value">{{ event.dateCreated.localeDate() }} {{ event.dateCreated.localeTime() }}</div>
					</div>
					<div class="data">
						<h5 class="heading">{{ "Date Updated" | t }}</h5>
						<div class="value">{{ event.dateUpdated.localeDate() }} {{ event.dateUpdated.localeTime() }}</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	{% if not event.slug %}
		{% includejs %}
			window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');
		{% endincludejs %}
	{% endif %}

{% endblock %}

{% includejs %}
	$(function() {
		new Craft.Events.EventEdit(
			'eventTab'
		);

		new Craft.Events.TicketEdit(
			'ticketTab',
			{{ ticketRowHtml | json_encode | raw }}
		);
	});
{% endincludejs %}