{% macro titleField(events) %}
	{%- import "_includes/forms" as forms -%}

	{{ forms.textField({
		label: "Title" | t,
		locale: events.locale,
		id: 'title',
		name: 'title',
		value: events.title,
		placeholder: 'Enter title' | t,
		errors: events.getErrors('title'),
		first: true,
		autofocus: true,
		required: true,
		maxlength: 255
	}) }}
{% endmacro %}


{% macro generalMetaFields(events) %}
	{%- import "_includes/forms" as forms -%}

    {{ forms.lightswitchField({
        label: "Enabled?" | t,
        id: 'enabled',
        name: 'enabled',
        on: events.enabled,
        errors: events.getErrors('enabled')|merge(events.getErrors('enabled'))
    }) }}

	{{ forms.textField({
		label: "Slug" | t,
		locale: events.locale,
		id: 'slug',
		name: 'slug',
		value: events.slug,
		placeholder: 'Enter slug' | t,
		errors: events.getErrors('slug')|merge(events.getErrors('uri'))
	}) }}

	{#{{ forms.dateTimeField({#}
		{#label: 'Post Date' | t,#}
		{#id: 'postDate',#}
		{#name: 'postDate',#}
		{#value: events.postDate,#}
		{#errors: events.getErrors('postDate')#}
	{#}) }}#}

	{#{{ forms.dateTimeField({#}
		{#label: 'Expiry Date' | t,#}
		{#id: 'expiryDate',#}
		{#name: 'expiryDate',#}
		{#value: events.expiryDate,#}
		{#errors: events.getErrors('expiryDate')#}
	{#}) }}#}

    {{ forms.dateTimeField({
        label: "Start Date" | t,
        instructions: "The start date/time for your event." | t,
        id: 'startDate',
        name: 'startDate',
        value: events.getAttribute('startDate'),
        errors: events.getErrors('startDate'),
    }) }}

    {{ forms.dateTimeField({
        label: "End Date" | t,
        instructions: "The end date/time for your event." | t,
        id: 'endDate',
        name: 'endDate',
        value: events.getAttribute('endDate'),
        errors: events.getErrors('endDate'),
    }) }}

    {{ forms.lightswitchField({
        label: "All day event" | t,
        instructions: "Does this event run for the entire day?" | t,
        id: 'allDay',
        name: 'allDay',
        on: events.getAttribute('allDay'),
        errors: events.getErrors('allDay'),
    }) }}
{% endmacro %}


{% macro behavioralMetaFields(events) %}
	{%- import "_includes/forms" as forms -%}

	{#{{ forms.selectField({#}
		{#label: 'Tax Category' | t,#}
		{#name: 'taxCategoryId',#}
		{#value: events.taxCategoryId,#}
		{#required: true,#}
		{#options: craft.commerce.getTaxCategories(true)#}
	{#}) }}#}

	{{ forms.checkboxField({
		id: 'promotable',
		fieldLabel: 'Promotable' | t,
		name: 'promotable',
		checked: events.promotable,
	}) }}
{% endmacro %}


{% macro generalFields(events) %}
	{%- import "_includes/forms" as forms -%}

	{{ forms.textField({
		id: 'sku',
		label: 'SKU' | t,
		required: true,
		name: 'sku',
		value: events.sku,
		placeholder: 'Enter SKU' | t,
		errors: events.getErrors('sku')
	}) }}

{% endmacro %}

{% macro pricingFields(events) %}

	{%- import "_includes/forms" as forms -%}

	{{ forms.textField({
		id: 'price',
		label: 'Price' | t,
		name: 'price',
		value: (events.price == '0' ? '0'|number : (events.price ?  events.price|number ?: '')),
		placeholder: 'Enter price' | t,
		unit: craft.commerce.primaryPaymentCurrency.iso,
		required: true,
		errors: events.getErrors('price')
	}) }}

{% endmacro %}