{% extends 'events/_layouts/settings' %}

{% set fullPageForm = true %}

{% block saveButton %}
    {% if not craft.events.isLicensed %}
        <div class="buttons">
            <input type="button" class="btn submit disabled" value="{{ 'Save' | t }}">
            <span class="license-error">{{ "Please enter your license key first" | t }}</span>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block blockContent %}

    {% if craft.events.isLicensed %}
        <input type="hidden" name="action" value="plugins/savePluginSettings">
    {% endif %}
    <input type="hidden" name="pluginClass" value="events">

    {% namespace 'settings' %}

        {{ forms.textField({
            label: "SKU Length" | t,
            instructions: "Length of the generated ticket SKU." | t,
            name: 'ticketSKULength',
            value: settings.ticketSKULength,
        }) }}

        {{ forms.textField({
            label: "Tickets PDF Template" | t,
            instructions: "The path to the template used for generating tickets PDFs." | t,
            id: 'ticketsPdfPath',
            name: 'ticketsPdfPath',
            value: settings.ticketsPdfPath,
            errors: settings.getErrors('ticketsPdfPath'),
            required: true,
        }) }}

        {{ forms.textField({
            label: "Tickets PDF Filename Format" | t,
            instructions: "What the tickets PDF filenames should look like (sans extension). You can include tags that output order properties, such as {ex1} or {ex2}." | t({
                ex1: '<code>{number}</code>',
                ex2: '<code>{myOrderCustomField}</code>'
            }),
            id: 'ticketsPdfFilenameFormat',
            name: 'ticketsPdfFilenameFormat',
            value: settings.ticketsPdfFilenameFormat,
            class: 'code ltr',
            errors: settings.getErrors('ticketsPdfFilenameFormat'),
            required: true,
        }) }}

    {% endnamespace %}

{% endblock %}
