{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{{ forms.textField({
    first: true,
    label: 'Plugin Name' | t('app'),
    instructions: 'Plugin name for the end user.' | t('events'),
    id: 'pluginName',
    name: 'pluginName',
    value: settings.pluginName,
    autofocus: true,
    warning: macros.configWarning('pluginName', 'events'),
}) }}

{{ forms.selectField({
    label: 'Default Event Index Status' | t('events'),
    instructions: 'Choose which status filter should be selected by default on the Events index.' | t('events'),
    id: 'defaultEventIndexStatus',
    name: 'defaultEventIndexStatus',
    options: eventStatusOptions,
    value: settings.defaultEventIndexStatus,
    errors: settings.getErrors('defaultEventIndexStatus'),
    warning: macros.configWarning('defaultEventIndexStatus', 'events'),
}) }}
