
/* Tickets */

.tickets-table {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.tickets-table .tickets-table-header {
    padding: 5px 0;
    margin: 0;
    border-bottom: 1px solid #dedede;
}

.tickets-table .tickets-table-header span {
    font-weight: bold;
    vertical-align: top;
    font-size: 11px;
    line-height: 1.2;
    padding-left: 7px;
    color: rgba(41, 50, 61, 0.5);
}

.tickets-table .tickets-table-header span::after {
    margin: -6px 0 0 7px;
}

.tickets-table .tickets-table-header :first-child span {
    padding-left: 7px;
}

.tickets-table .tickets-table-header :last-child span {
    padding-right: 5px;
}

.create-tickets {
    padding: 10px 0 0 0;
    border-bottom: 1px solid #dedede;
}

.create-tickets:last-child {
    border-bottom: none;
}

.create-tickets-row {
    margin: 0 0 10px 5px !important;
}

.table-cell.action {
    text-align: right;
}

.table-cell.action .icon {
    padding: 6px;
}

.table-cell.action .icon.settings:before {
    color: rgba(0, 0, 0, 0.2);
}

.table-cell.action .icon.settings.active:before,
.table-cell.action .icon.settings:hover:before {
    color: #0d78f2;
}

.create-tickets-settings {
    margin: 0 -1px -1px;
    padding: 15px;
    background: #F7F7F8;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;

    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.05);
}

.add-ticket {
    margin-top: 10px;
    outline: none;
}




































/* Responsive Grid for Tickets */

.table-row {
    display: block;
    list-style-type: none;
    margin-right: -5px;
    margin-left: -5px;
    zoom: 1
}

.table-row:before,
.table-row:after {
    content: " ";
    display: table
}

.table-row:after {
    clear: both
}

.table-cell {
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    zoom: 1
}

.table-cell:before,
.table-cell:after {
    content: " ";
    display: table
}

.table-cell:after {
    clear: both
}

@media screen and (min-width: 480px) {
    .table-cell {
        float: left
    }
}

.table-cell-xs-1 {
    width: 8.3333333333%
}
.table-cell-xs-2 {
    width: 16.6666666667%
}
.table-cell-xs-3 {
    width: 25%
}
.table-cell-xs-4 {
    width: 33.3333333333%
}
.table-cell-xs-5 {
    width: 41.6666666667%
}
.table-cell-xs-6 {
    width: 50%
}
.table-cell-xs-7 {
    width: 58.3333333333%
}
.table-cell-xs-8 {
    width: 66.6666666667%
}
.table-cell-xs-9 {
    width: 75%
}
.table-cell-xs-10 {
    width: 83.3333333333%
}
.table-cell-xs-11 {
    width: 91.6666666667%
}
.table-cell-xs-12 {
    width: 100%
}

@media screen and (min-width: 480px) {
    .table-cell-ms-1 {
        width: 8.3333333333%
    }
    .table-cell-ms-2 {
        width: 16.6666666667%
    }
    .table-cell-ms-3 {
        width: 25%
    }
    .table-cell-ms-4 {
        width: 33.3333333333%
    }
    .table-cell-ms-5 {
        width: 41.6666666667%
    }
    .table-cell-ms-6 {
        width: 50%
    }
    .table-cell-ms-7 {
        width: 58.3333333333%
    }
    .table-cell-ms-8 {
        width: 66.6666666667%
    }
    .table-cell-ms-9 {
        width: 75%
    }
    .table-cell-ms-10 {
        width: 83.3333333333%
    }
    .table-cell-ms-11 {
        width: 91.6666666667%
    }
    .table-cell-ms-12 {
        width: 100%
    }
}

@media screen and (min-width: 768px) {
    .table-cell-sm-1 {
        width: 8.3333333333%
    }
    .table-cell-sm-2 {
        width: 16.6666666667%
    }
    .table-cell-sm-3 {
        width: 25%
    }
    .table-cell-sm-4 {
        width: 33.3333333333%
    }
    .table-cell-sm-5 {
        width: 41.6666666667%
    }
    .table-cell-sm-6 {
        width: 50%
    }
    .table-cell-sm-7 {
        width: 58.3333333333%
    }
    .table-cell-sm-8 {
        width: 66.6666666667%
    }
    .table-cell-sm-9 {
        width: 75%
    }
    .table-cell-sm-10 {
        width: 83.3333333333%
    }
    .table-cell-sm-11 {
        width: 91.6666666667%
    }
    .table-cell-sm-12 {
        width: 100%
    }
}

@media screen and (min-width: 992px) {
    .table-cell-md-1 {
        width: 8.3333333333%
    }
    .table-cell-md-2 {
        width: 16.6666666667%
    }
    .table-cell-md-3 {
        width: 25%
    }
    .table-cell-md-4 {
        width: 33.3333333333%
    }
    .table-cell-md-5 {
        width: 41.6666666667%
    }
    .table-cell-md-6 {
        width: 50%
    }
    .table-cell-md-7 {
        width: 58.3333333333%
    }
    .table-cell-md-8 {
        width: 66.6666666667%
    }
    .table-cell-md-9 {
        width: 75%
    }
    .table-cell-md-10 {
        width: 83.3333333333%
    }
    .table-cell-md-11 {
        width: 91.6666666667%
    }
    .table-cell-md-12 {
        width: 100%
    }
}

@media screen and (min-width: 1200px) {
    .table-cell-lg-1 {
        width: 8.3333333333%
    }
    .table-cell-lg-2 {
        width: 16.6666666667%
    }
    .table-cell-lg-3 {
        width: 25%
    }
    .table-cell-lg-4 {
        width: 33.3333333333%
    }
    .table-cell-lg-5 {
        width: 41.6666666667%
    }
    .table-cell-lg-6 {
        width: 50%
    }
    .table-cell-lg-7 {
        width: 58.3333333333%
    }
    .table-cell-lg-8 {
        width: 66.6666666667%
    }
    .table-cell-lg-9 {
        width: 75%
    }
    .table-cell-lg-10 {
        width: 83.3333333333%
    }
    .table-cell-lg-11 {
        width: 91.6666666667%
    }
    .table-cell-lg-12 {
        width: 100%
    }
}

@media screen and (min-width: 1600px) {
    .table-cell-xl-1 {
        width: 8.3333333333%
    }
    .table-cell-xl-2 {
        width: 16.6666666667%
    }
    .table-cell-xl-3 {
        width: 25%
    }
    .table-cell-xl-4 {
        width: 33.3333333333%
    }
    .table-cell-xl-5 {
        width: 41.6666666667%
    }
    .table-cell-xl-6 {
        width: 50%
    }
    .table-cell-xl-7 {
        width: 58.3333333333%
    }
    .table-cell-xl-8 {
        width: 66.6666666667%
    }
    .table-cell-xl-9 {
        width: 75%
    }
    .table-cell-xl-10 {
        width: 83.3333333333%
    }
    .table-cell-xl-11 {
        width: 91.6666666667%
    }
    .table-cell-xl-12 {
        width: 100%
    }
}
