
/* ==========================================================================
// Plugin License
// ========================================================================== */

#loading-status { display: inline-block; padding: 6px 0; }

.reg-header { position: relative; min-height: 150px; box-sizing: border-box; padding-top: 50px; }
body.ltr .reg-header { padding-left: 150px; padding-right: 25px; }
body.rtl .reg-header { padding-right: 150px; padding-left: 25px; }
#unknown-license-header { padding-top: 42px; }

.license-plugin-icon { position: absolute; top: 25px; }
body.ltr .license-plugin-icon { left: 25px; }
body.rtl .license-plugin-icon { right: 25px; }
.license-plugin-icon .license-alert-img { position: absolute; top: 0; left: 0; }

.reg-header h2 { margin: 0; font-size: 20px; }
.reg-header p { margin-top: 0.5em; max-width: 515px; }

.license-meta { margin: 50px 0 25px; }
.license-meta > .data { padding: 0 !important; }
.license-meta > .data .heading { width: 125px; }
body.ltr .license-meta > .data .heading { text-align: right; }
body.rtl .license-meta > .data .heading { text-align: left; }
.license-meta > .data .value { width: calc(100% - 150px); }

body.ltr .indented { margin-left: 150px; }
body.rtl .indented { margin-right: 150px; }

#license-key-wrapper { display: inline-block; }

@media only screen and (max-width: 768px) {
    .reg-header { min-height: 0; padding: 0 !important; text-align: center; }
    .reg-header img { position: static; margin-bottom: 14px; }

    .meta > .data { display: block; }
    .license-meta > .data .heading,
    .license-meta > .data .value { width: auto; }
    body.ltr .license-meta > .data .heading { text-align: left; }
    body.rtl .license-meta > .data .heading { text-align: right; }

    #license-key-wrapper { display: block; margin-bottom: 24px; }
    #license-key-wrapper input { width: 100%; }

    body.ltr .indented { margin-left: 0; }
    body.rtl .indented { margin-right: 0; }
}

.license-error {
    color: #da5a47;
    display: flex;
    align-items: center;
}



/* ==========================================================================
// Welcome Screen
// ========================================================================== */

.events-welcome {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
}

.events-welcome h1 {
    font-size: 28px;
}

.events-welcome img {
    width: 120px;
    margin: 20px 0 30px;
}

.events-welcome .btn-start {
    font-size: 15px;
    padding: 14px 28px;
    height: auto;
    margin-top: 20px;
}

.events-welcome .or {
    display: block;
    padding: 10px;
    font-style: italic;
}

.events-welcome .btn .fa {
    margin-left: 5px;
}




/* ==========================================================================
// Plugin Footer
// ========================================================================== */

#plugin-footer .footer-left {
    float: left;
}

#plugin-footer .footer-right {
    float: right;
}

#plugin-footer .plugin-text {
    font-size: 11px;
    color: #8f98a3;
    text-align: right;
    margin-top: 5px !important;
}

.plugin-credit {
    position: relative;
    width: 78px;
    height: 29px;
    display: block
}

.plugin-credit .credit-love {
    position: absolute;
    top: 0;
    left: -104px;
    color: #8f98a3;
    opacity: 0;
    padding: 5px 9px 5px 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
}

.plugin-credit .credit-pill {
    float: right;
    display: inline-block;
    background: #d5d9dd;
    border-radius: 25px;
    padding: 8px 10px 8px 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.plugin-credit .credit-mask {
    width: 12px;
    overflow: hidden;
    padding-left: 3px;
    margin-right: -1px;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.plugin-credit .credit-wrap {
    width: 60px;
    height: 13px;
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg)
}

.plugin-credit .credit-wrap svg {
    width: 100%;
    height: 100%;
    display: block
}

.plugin-credit:hover .credit-pill {
    background: #4b308c
}

.plugin-credit:hover .credit-love {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s
}

.plugin-credit:hover .credit-mask {
    width: 61px
}



/* ==========================================================================
// Voucher locales
// ========================================================================== */

body.ltr #locales { padding: 0 0 0 24px; }
body.rtl #locales { padding: 0 24px 0 0; }

#locales li { position: relative; }
body.ltr #locales li { padding: 7px 45px 7px 0; }
body.rtl #locales li { padding: 7px 0 7px 45px; }

#locales li + li { border-top: 1px solid #e3e5e8; }

#locales li.sel { cursor: default; }

#locales li.sel:before { font-size: 11px; font-family: 'Craft'; speak: none; -webkit-font-feature-settings: "liga", "dlig"; -moz-font-feature-settings: "liga=1, dlig=1"; -moz-font-feature-settings: "liga", "dlig"; -ms-font-feature-settings: "liga", "dlig"; -o-font-feature-settings: "liga", "dlig"; font-feature-settings: "liga", "dlig"; text-rendering: optimizeLegibility; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; direction: ltr; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: inline-block; text-align: center; font-style: normal; vertical-align: middle; word-wrap: normal !important; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; content: 'check'; }
body.ltr #locales li.sel:before { float: left; }
body.rtl #locales li.sel:before { float: right; }
body.ltr #locales li.sel:before { margin: 3px 0 0 -16px ; }
body.rtl #locales li.sel:before { margin: 3px -16px 0 0 ; }

#locales li a { color: #29323d; }

#locales li a:hover { color: #0d78f2; cursor: pointer; }

#locales li .lightswitch { position: absolute; top: 50%; margin-top: -9px; }
body.ltr #locales li .lightswitch { right: 9px; }
body.rtl #locales li .lightswitch { left: 9px; }

#locales li .status { display: block; position: absolute; top: 50%; margin: -5px 0 0; }
body.ltr #locales li .status { right: 16px; }
body.rtl #locales li .status { left: 16px; }