{% import '_includes/forms' as forms %}

<div class="create-tickets" data-id="{{ ticketId ?? '' }}">
    <div class="create-tickets-row table-row">
        <div class="table-cell table-cell-md-5 fields-tickets-type-field">
            {% set types = [] %}

            {% if ticket and ticket.typeId %}
                {% set types = [ticket.type] %}
            {% endif %}

            {{ forms.elementSelectField({
                id: 'typeIds',
                name: 'typeIds',
                elementType: 'verbb\\events\\elements\\TicketType',
                selectionLabel: 'Select ticket type' | t('events'),
                elements: types,
                limit: 1,
                errors: ticket ? ticket.getErrors('typeIds'),
            }) }}
        </div>

        <div class="table-cell table-cell-md-2 fields-tickets-price-field">
            {{ forms.textField({
                id: 'quantity',
                name: 'quantity',
                placeholder: 'eg. 100',
                value: ticket.quantity ?? '',
                class: 'ticket-quantity',
                errors: ticket ? ticket.getErrors('quantity'),
            }) }}

            <span class="info">
                <strong>{{ 'Purchased Tickets:' | t('events') }}</strong>

                {% if ticket and ticket.id %}
                    {{ craft.events.purchasedTickets.ticketId(ticket.id).count() }}
                {% else %}
                    0
                {% endif %}
            </span>
        </div>

        <div class="table-cell table-cell-md-3 fields-tickets-price-field">
            {% set price = '' %}

            {% if ticket and ticket.price %}
                {% set price = ticket.price | number %}
            {% endif %}

            {{ forms.textField({
                id: 'price',
                name: 'price',
                value: price,
                placeholder: 'eg. 10.00',
                unit: craft.commerce.paymentCurrencies.primaryPaymentCurrency.iso,
                errors: ticket ? ticket.getErrors('price'),
            }) }}
        </div>

        {% set hasErrors = '' %}

        {% if types %}
            {% set ticketType = types[0] %}

            {% for tab in ticketType.getFieldLayout().getTabs() %}
                {% for field in tab.getFields() %}
                    {% if ticket.hasErrors(field.handle ~ '.*') %}
                        {% set hasErrors = 'error' %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="table-cell table-cell-md-2 thin action">
            <a class="settings icon {{ hasErrors }}" title="{{ 'Settings' | t }}" role="button"></a>
            <a class="delete icon button" title="{{ 'Delete' | t }}" role="button"></a>
        </div>
    </div>

    <div class="create-tickets-settings">
        <div class="create-tickets-settings-wrap">
            {{ forms.dateTimeField({
                label: 'Available From' | t('events'),
                instructions: 'Tickets will only be purchasable after this date.' | t('events'),
                id: 'availableFrom',
                name: 'availableFrom',
                value: ticket.availableFrom ?? [],
            }) }}

            {{ forms.dateTimeField({
                label: 'Available To' | t('events'),
                instructions: 'Tickets will not be purchasable after this date.' | t('events'),
                id: 'availableTo',
                name: 'availableTo',
                value: ticket.availableTo ?? [],
            }) }}

            <div class="ticket-type-fields">
                {% if ticket %}
                    {% for tab in ticket.type.getFieldLayout().getTabs() %}
                        {% include '_includes/fields' with {
                            fields: tab.getFields(),
                            element: ticket,
                        } only %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>