{% extends 'events/_layouts' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = 'Event Types' | t('events') %}
{% set selectedSubnavItem = 'eventTypes' %}

{% set crumbs = [
    { label: craft.events.getPluginName() | t('events'), url: url('events') },
    { label: 'Event Types' | t('events'), url: url('events/event-types') },
] %}

{% block actionButton %}
    <a href="{{ url('events/event-types/new') }}" class="btn submit add icon">{{ 'New event type' | t('events') }}</a>
{% endblock %}

{% block blockContent %}
    <div id="types-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}

{% for type in craft.events.getEventTypes() %}
    {% set tableData = tableData | merge([{
        id: type.id,
        title: type.name | t('site'),
        url: type.cpEditUrl,
        handle: type.handle | e,
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('app', 'Name') },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#types-vue-admin-table',
        deleteAction: 'events/event-types/delete',
        deleteConfirmationMessage: Craft.t('events', "Are you sure you want to delete this event type and all its events?"),
        emptyMessage: Craft.t('events', 'No event types exist yet.'),
        tableData: {{ tableData | json_encode | raw }},
    });
{% endjs %}
