{% extends 'events/_layouts' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = 'Ticket Types' | t('events') %}
{% set selectedSubnavItem = 'ticketTypes' %}

{% set crumbs = [
    { label: craft.events.getPluginName() | t('events'), url: url('events') },
    { label: 'Ticket Types' | t('events'), url: url('events/ticket-types') },
] %}

{% block actionButton %}
    <a href="{{ url('events/ticket-types/new') }}" class="btn submit add icon">{{ 'New ticket type' | t('events') }}</a>
{% endblock %}

{% block blockContent %}
    <div id="types-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}

{% for type in craft.events.getTicketTypes() %}
    {% set tableData = tableData | merge([{
        id: type.id,
        title: type.name | t('site'),
        url: type.cpEditUrl,
        handle: type.handle | e,
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('app', 'Name') },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#types-vue-admin-table',
        deleteAction: 'events/ticket-types/delete',
        deleteConfirmationMessage: Craft.t('events', "Are you sure you want to delete this ticket type?"),
        emptyMessage: Craft.t('events', 'No ticket types exist yet.'),
        tableData: {{ tableData | json_encode | raw }},
    });
{% endjs %}
