{% extends "events/_layouts" %}
{% hook 'events.prepCpTemplate' %}

{% set title = "Event Types" | t %}
{% set selectedSubnavItem = "eventTypes" %}
{% set docTitle = title ~ ' - ' ~ craft.events.getPluginName %}

{% set eventTypes = craft.events.getAllEventTypes() %}

{% set extraPageHeaderHtml %}
    {% if craft.events.isLicensed %}
		<div id="newEventType" class="buttons">
			<a href="{{ url('events/eventtypes/new') }}" class="btn submit add icon">{{ "New event type" | t }}</a>
		</div>
    {% else %}
		<div id="newEventType" class="buttons">
			<a href="#" class="btn submit add icon disabled">{{ "New event type" | t }}</a>
			<span class="license-error">{{ "Please enter your license key first" | t }}</span>
		</div>
    {% endif %}
{% endset %}

{% block blockContent %}
	<div id="noEventTypes"{% if eventTypes %} class="hidden"{% endif %}>
		<p>{{ "No event types exist yet." | t }}</p>
	</div>

	{% if eventTypes | length %}
		<table id="eventTypes" class="data fullwidth collapsible">
			<thead>
				<th scope="col">{{ "Name" | t }}</th>
				<th scope="col">{{ "Handle" | t }}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for eventType in eventTypes %}
					<tr data-id="{{ eventType.id }}" data-name="{{ eventType.name | t }}">
						<th scope="row" data-title="{{ 'Name' | t }}">
							<a href="{{ url('events/eventtypes/' ~ eventType.id) }}">{{ eventType.name | t }}</a>
						</th>
						
						<td data-title="{{ 'Handle' | t }}">
							<code>{{ eventType.handle }}</code>
						</td>
						
						<td class="thin">
							<a class="delete icon" title="{{ 'Delete' | t }}" role="button"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

{% endblock %}

{% set js %}
	var adminTable = new Craft.AdminTable({
		tableSelector: '#eventTypes',
		noObjectsSelector: '#noEventTypes',
		newObjectBtnSelector: '#newEventType',
		deleteAction: 'events/eventTypes/delete',
		confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its events?" | t }}'
	});
{% endset %}
{% includeJs js %}
